.all-monitors {
    header {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
    }
    .cards-wrapper {
        width: 80%;
        margin: 20px auto;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            p {
                color: black;
                font-size: 1.25rem;
            }
        }
        .dates {
            span {
                font-size: 1rem;
                color: gray;
                margin: 0 5px;
            }
        }
    }
    @media screen and (max-width: 480px) {
        .header {
            p {
                font-size: 1rem;
                max-width: 90%;
            }
            word-wrap: break-word;
            /* IE 5.5-7 */
            white-space: -moz-pre-wrap;
            /* Firefox 1.0-2.0 */
            white-space: pre-wrap;
            /* current browsers */
        }
    }
}