materialy/
pdf/Seminarium-dyplomowe
pdf/App-screens

# BACKEND
backend/__pycache__/
backend/.vscode/
backend/venv/
backend/static
backend/old-htmls
backend/blueprints/__pycache__/
backend/debug.log
backend/mail_man-config.yaml

# FRONTEND
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
