@import '../variables.scss';
main {
    background: url(/cover.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    /* For WebKit*/
    -moz-background-size: cover;
    /* Mozilla*/
    -o-background-size: cover;
    /* Opera*/
    background-size: cover;
    /* Generic*/
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: repeat(10, 1fr);
}

header {
    grid-row: 1;
    grid-column: 1/11;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 4rem;
        color: $black-header;
    }
}

ul {
    grid-row: 2;
    grid-column: 2/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    li {
        margin: 15px 0;
        font-weight: bold;
        color: #0e0700;
        font-size: 1.5rem;
    }
}

.buttons {
    grid-row: 3;
    grid-column: 2/6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    button {
        font-size: 1.5rem;
        padding: 10px 15px;
        color: $beige;
        font-size: 1.75rem;
        background-color: transparent;
        border: 2px solid $beige;
        border-radius: 5px;
        &:hover {
            background-color: $beige;
            color: #0e0700;
            cursor: pointer;
        }
    }
}

img {
    grid-row: 2;
    grid-column: 7/11;
}