@import './../../variables.scss';
.modal-iframe {
    height: 70vh;
    width: 100%;
}

.room {
    header {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .manageWrapper {
        display: flex;
        justify-content: flex-end;
        padding: 10px 40px;
    }
    #cardsWrapper {
        width: 90%;
        margin: 20px auto;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            p {
                color: black;
                font-size: 1.25rem;
            }
        }
        .h2-wrapper {
            text-align: center;
            color: black;
        }
        .body {
            .title {
                width: 100%;
                border-bottom: solid 1px rgba(0, 0, 0, .125);
            }
            .buttons {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-top: 5px;
            }
            i,
            p,
            b {
                color: black;
            }
            .new {
                color: rgb(49, 211, 49);
            }
            .deleted {
                color: rgb(197, 37, 37);
            }
            .modified {
                color: rgb(95, 95, 86);
            }
            .key-word {
                font-weight: bold;
                color: $beige;
            }
        }
    }
}