@import './../../variables.scss';
.home-page-wrapper {
    background: url(/cover.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    /* For WebKit*/
    -moz-background-size: cover;
    /* Mozilla*/
    -o-background-size: cover;
    /* Opera*/
    background-size: cover;
    /* Generic*/
    overflow-y: scroll;
    height: 100vh;
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        h1 {
            font-size: 3rem;
            color: $black-header;
            font-weight: bold;
        }
    }
    span.glyph-wrapper {
        margin-left: 10px;
    }
    .img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 300px;
        height: 300px;
    }
    .buttons-bottom {
        padding-bottom: 10px;
    }
    .error-message {
        color: $error;
        font-size: 2.5rem;
        text-shadow: 5px 3px 2px #3F1B11;
        text-transform: uppercase;
    }
    .logged {
        font-size: 1.75rem;
    }
    @media screen and (max-width: 480px) {
        img {
            display: none;
        }
        header h1 {
            text-align: center;
        }
    }
}